XTerm*termName: xterm-256color
XTerm*background: #080808
!XTerm*background: #262626
!XTerm*foreground: #959eed
XTerm*foreground: #7374ff
XTerm*faceName: inconsolata
XTerm*faceSize: 8
XTerm*faceSize1: 15
XTerm*faceSize2: 16
XTerm*faceSize3: 17
XTerm*faceSize4: 18
XTerm*faceSize5: 19
XTerm*rightScrollBar: true
XTerm*ScrollBar.thickness: 10
XTerm*ScrollBar.background: #000
XTerm*ScrollBar.foreground: #1E1E27
XTerm*eightBitInput: false
